@import "_vendor";
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $app-black;
  label, p, h1, h2, h3 {
    color: $app-white;
  }

  h1 {
    text-align: center;
  }
}
