@import "theme";

.game-history {
  ol {
    list-style: none;
    li {
      border-radius: 5px;
      background-color: $app-3rd;
      margin-right: 10%;

      h3, p {
        text-align: center;
        color: $app-2nd;
      }

      h3 {
        padding-top: 2%;
      }

      p {
        padding-bottom: 2%;
      }

    }
  }
}
